* {
    margin: 0;
    padding: 0;
}

.App_wrapper {
     height: 100%;
    width: 100%; 
    /* background-image: url('/src/media/images/seahorse-1768791.jpg');
    background-size: contain; */
    display: grid;
    /* grid-template-columns: 2fr 10fr; */
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    "h"
    "m"
    "f"
    ;
}

.mainBlock{
    grid-area: m;
    background-image: url('/src/media/images/seahorse-1768791.jpg');
    background-size: contain;
}